<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stalin Pskov</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
    <link rel="stylesheet" href="./font.css">
  </head>
  <body>
    <div id="app"><%- reactComponent -%></div>
    <footer>
      <div class="map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6f49ebc15b3be35d7e68736fc4fbd996a81cf65ddfa84d6ebcbbb4663b8e2215&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
      </div>
      <div class="footer">
        <p class="footer__copyright">&copy; 2017 Stalin Pskov</p>
        <p class="footer__adress">г.Псков, ул. Инженерная, д. 1А, тел. (8112) 61-04-54</p>
        <p class="footer__terms">Обращаем Ваше внимание на то, что данный интернет-сайт носит исключительно информационный и ознакомительный характер и ни при каких условиях информационные материалы и цены, размещенные на сайте, не являются публичной офертой, определяемой положениями ст. 437 ГК РФ. Для более подробной информации обратитесь к нашим менедежерам.</p>

      </div>
    </footer>
    <script>window.INITIAL_STATE=<%- initialState -%></script>
    <script src="bundle.js"></script>
  </body>
</html>
