.cart {
  padding: 15px;

  h6 {
    font-family: $mainFont;
    color: $textGrey;
    font-size: 16px;
  }

  .cart__price {
    font-family: $gFont;
    margin-top: 15px;
    margin-bottom: 0;

    span {
      color: $mainRed;
    }
  }

  .panel {
    border-radius: 0;
  }

  &__qty {
    font-family: $gFont !important;
    span {
      display: inline-block;
      margin-left: 11px;
      color: $mainRed;
      font-family: $gFont;
      font: 18px;
    }
  }

  &__btn-qty, &__btn-qty:hover {
    color: $mainRed;
    border-color: $mainRed;
    outline: none;
    outline-offset: 0;
    margin: 0 7px;
    border-radius: 0;
  }

  .btn-danger {
    font-family: $gFont;
    margin-top: 10px;
    background-color: $mainRed;
    border-color: $mainRed;
    border-radius: 0;
  }

  &__btn-order {
    font-family: $hFont;
    font-size: 2rem;
    line-height: 1.95rem;
    background: none;
    margin: 10px 0;
    padding: 8px 16px 4px 16px;
    outline: none;
    outline-offset: 0;
    border: 1px solid $mainRed;
    color: $mainRed;
    display: block;
    margin-top: 25px;
  }

  &__sum {
    font-family: $gFont !important;
    font-size: 20px !important;
    margin-bottom: 25px;

    span {
      color: $mainRed;
    }
  }

  // &__sum::after {
  //   content: "";
  //   clear: both;
  //   display: table;
  // }

  &__phone-form {
    border: none;
    // font-family: $gFont;
    font-weight: $mainFont !important;
    display: block;
    font-size: 3rem;
    font-weight: normal;
    // color: $mainBlue;
  }

  &__phone-label {
    display: block;
    font-weight: $mainFont !important;
    font-size: 2rem;
    font-weight: normal;
  }

  &__order {
    border: 1px solid $mainRed;
    padding: 10px;
    width: 400px;
  }

}
