footer {
  margin-top: 40px;

  .map {
    width: 100%;
    height: 400px;
    border-top: 2px solid $textGrey;
  }

  .footer {
    width: 100%;
    height: 140px;
    background-color: $textGrey;
    color: #fff;

    &__adress {
      margin-top: 0;
      padding-top: 15px;
      margin-left: 15px;
      font-size: 2rem;
    }

    &__terms {
      width: 50%;
      margin-left: 15px;
    }

    &__copyright {
      font-size: 2rem;
      float: right;
      margin: 0;
      padding-top: 55px;
      padding-right: 100px;
    }
  }
}
