.hero {
  width: 100%;
  position: relative;
  box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.76);

  &__icons {
    position: absolute;
    top: 15px;
    right: 50px;

    &-cart {
      height: 44px;
      margin-left: 20px;
    }

    &-vk {
      height: 50px;
    }
  }

  &__cart {
    display: inline-block;
    position: relative;

    .badge {
      position: absolute;
      background-color: $mainRed;
      font-family: $hFont;
      top: 0;
      right: -5px;
    }
  }

  .st {
    font-family: "PhageRegularKG";
  }
}
