.item {
  border: 1px solid $borderGrey;
  width: 280px;
  margin: 30px auto;
  padding: 0 10px 20px 10px;
  text-align: center;
  position: relative;

  &__title {
    font-family: $mainFont;
    color: $textGrey;
    font-size: 2rem;
    height: 6.8rem;
  }

  &__price {
    font-size: 2rem;
    font-family: $gFont;
    color: $textGrey;

    span {
      color: $mainRed;
    }
  }

  &__btn {
    font-family: $hFont;
    font-size: 2rem;
    line-height: 1.85rem;
    background: none;
    margin: 10px 0;
    padding: 8px 16px 4px 16px;
    outline: none;
    outline-offset: 0;

    &--red {
      border: 1px solid $mainRed;
      color: $mainRed;
    }

    &--blue {
      border: 1px solid $mainBlue;
      color: $mainBlue;
    }
  }

  &__img {
    height: 210px;
    margin: 0 auto;
  }

  &__badge {
    font-family: $hFont;
    font-size: 16px;
    color: #fff;
    width: 120px;
    position: absolute;
    top: 20px;
    right: 15px;
  }

  &__cart-badge {
    background-color: $mainBlue;
    padding: 4px 5px 2px 5px;
    width: auto;
    float: right;
  }

  &__action-badge {
    float: right;
    background-color: $mainRed;
    padding: 4px 5px 2px 5px;
    margin-bottom: 3px;
    margin-top: 3px;
    width: 74px;
  }
}

@media (min-width: 1380px) {
  .item {
    width: 306px;
  }
}
