.sidebar {
  margin-top: 30px;
  border: 1px solid $borderGrey;
  min-width: 200px;

  a, a:hover, a:focus {
    text-decoration: none;
    color: #fff;
  }

  &__header {
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
  }

  &__special-offer {
    font-family: $gFont;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    font-size: 2.1rem;
    color: $mainRed;
    margin: 15px 50px;
    padding: 4px 8px 6px 8px;
    text-align: center;
    transition: all .5s;
    cursor: pointer;
  }

  &__special-offer:hover {
    border: 1px solid $mainRed;
  }

  &__group {
    font-family: $gFont;
    font-size: 1.9rem;
    margin: 10px 50px;
    padding: 4px 0 6px 0;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    color: $textGrey;
    text-align: center;
    transition: all .5s;
    cursor: pointer;
  }

  &__group:hover {
    border: 1px solid $mainRed;
    color: $mainRed;
  }

  .active {
    color: white;
    background-color: $mainRed;
  }
}
