.sticky {
  width: 100%;
  height: 75px;
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 0 50px;
  opacity: 1;
  transition: all .5s;

  &--hidden {
    width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    padding: 0 50px;
  }

  &__logo {
    float: left;
    height: 75px;
  }

  &__address {
    color: #fff;
    margin: 12px auto 0 auto;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: .1rem;
  }
}
